.info-container {
    margin: 5rem;
    display: flex;
    border-color: var(--tecnm-dark-blue);
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Esto crea 3 columnas de igual ancho */
    gap: 2.5rem; /* Espacio entre las cajas */
    justify-content: center;
}

.item-info {
    margin-top: 1rem;
    text-align: justify;
    position: relative;
    grid-column: span 2; /* Ocupa 2 columnas */
    justify-content: center;
}

.item-img {
    display: flex;
    justify-content: right; /* Centrar horizontalmente */
    align-items: right; /* Centrar verticalmente */
}

.info {
    margin-top: 1.5rem;
    text-align: justify;
}

.extra {
	margin-top: 2rem;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
    .grid-info {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a 3 columnas en dispositivos con ancho máximo de 768px */
    }

    .iframe-container {
        grid-column: 1 / span 3; /* Ocupa las 3 columnas en lugar de las últimas 3 */
        margin-top: 1.5rem; /* Espacio entre grid-container e iframe-container */
    }
}