.resultdiscipline-container {
	width: auto;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultdiscipline-title {
	text-align: center;
	font-size: 3.5rem;
	text-transform: uppercase;
}

h4 {
	font-weight: 400;
	text-align: center;
	font-size: 2rem;
}

@media screen and (max-width: 768px) {
	.resultdiscipline-title {
		text-align: center;
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}



