/* Estilo base */
.texto-principal {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 60%;
    padding-top: 4rem;
	overflow-wrap: break-word;
  }
  
  /* Títulos */
  .titulo {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .subtitulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Párrafos */
  .parrafo {
    margin-bottom: 1rem;
  }
  
  /* Enlaces */
  .enlace {
    color: #000;
    text-decoration: underline;
  }
  
  /* Colores */
  .fondo-principal {
    background-color: #fff;
  }
  
  .titulo-principal {
    color: #000;
  }
  
  .subtitulo-principal {
    color: #444;
  }
  
  .texto-secundario {
    color: #666;
  }
  
  /* Secciones */
  .seccion-principal {
    padding: 2rem;
  }
  
  .seccion-secundaria {
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  /* Imagenes */
  .imagen-principal {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* Otros */
  .divisor {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .centrado {
    text-align: center;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    /* Ajustes para dispositivos móviles */
    .texto-principal {
      font-size: 1.4rem;
    }
  
    .titulo {
      font-size: 2rem;
    }
  
    .subtitulo {
      font-size: 1.8rem;
    }
  
    .imagen-principal {
      max-width: 20%;
    }
  }
  