li{
  font-size: 1.3rem;
}

p {
  font-size: 1.4rem;
}

.convocatoria-container {
    /*display: flex;*/
    margin: 2rem;
    border-color: var(--tecnm-dark-blue);
    justify-content: center;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2  rem;
    margin: 6rem;
}
  
.title {
  text-align: justify;
  margin: 1rem;
}

.container-img {
  width: 100%;
  height: 30rem;
  position: relative;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0.6;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

.container-img p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: aliceblue;
  font-size: 1.4rem;
  font-weight: 600;
}

.container-img .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(12, 39, 79, 0.614);
}

  .titulo-convocatoria {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .subtitulo-convocatoria {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .titulo-evento {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .zona {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .subtitulo-bases {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1.5rem 0 1rem 0;
  }
  
  .lista-bases {
    font-size: 1.1rem;
    margin-left: 2rem;
  }
  
  .lista-bases li {
    margin-bottom: 1rem;
  }
  
  .lista-bases li ul {
    margin-left: 2rem;
  }
  
  .lista-bases li ul li {
    margin-bottom: 0.5rem;
  }

.bases {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card-item {
  border: solid 1px black;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.card-item p {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.3rem;
  }

  .card-item p {
    font-size: 1.2rem;
  }

  .convocatoria-container {
    /*display: flex;*/
    border-color: var(--tecnm-dark-blue);
    justify-content: center;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2  rem;
    margin: 3.8rem;
  }

  .container-img {
    width: 100%;
    height: 20rem;
    position: relative;
  }
  
  .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    margin: 0.6;
    transform: translate(-50%, -50%);
    color: aliceblue;
  }
  
  .container-img p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.7rem;
  }
  
  .container-img .capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(12, 39, 79, 0.614);
  } 
}