.table-container {
	width: 100%;
    margin: 1rem;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
}

.encabezado-grid {
    display: grid;
    border-radius: 1rem;
    color: white;
    background: rgb(27,57,106);
    background: linear-gradient(90deg, rgba(27,57,106,1) 0%, rgba(17,34,77,1) 85%);
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    align-items: center;
    grid-gap: 1rem;
    margin: 0 1rem;
    padding: 1rem;
	text-align: center;
	font-size: 2rem;
}

.table-grid {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    align-items: center;
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
	text-align: center;
	font-size: 2rem;
	
}

@media (max-width: 890px) {
	.table-grid {
		width: 110rem;
	}

	.encabezado-grid {
		width: 110rem;
	}
}

.score{
    display: grid;
    color: var(--tecnm-dark-blue);
    grid-template-columns: repeat(3, 1fr);
    font-size: 4rem;
	text-align: center;
    font-weight: 700;
}

.score-left {
    text-align: right;
}

.score-right {
    text-align: left;
}

.logo {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .resultTable-container {
        width: auto;
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }
    
	.logo {
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
    }

    .score-left {
        text-align: right;
    }
    
    .score-right {
        text-align: left;
    }
 
    .resultTable-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 20px;
      }
    
      .resultTable-grid > .logo:nth-child(1) {
        order: 1;
      }
    
      .resultTable-grid > :nth-child(2) {
        order: 2;
        text-align: center;
      }
    
      .resultTable-grid > .score {
        order: 3;
        justify-content: center;
      }
    
      .resultTable-grid > :nth-child(4) {
        order: 4;
        text-align: center;
      }
    
      .resultTable-grid > .logo:nth-child(5) {
        order: 5;
      }
}