
.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color: #fff;
	background-color: var(--tecnm-dark-blue);
}

.title {
	margin-right: auto;
	font-size: 4rem;
	padding: 1rem;
}

.button {

	display: flex;
	font-size: 1.5rem;
	min-width: 8%;
	align-items: center;
	justify-content: center;
	margin: 0 2rem;
	padding: 1rem;
}

.button:hover {
	background-color: #305eaa;
	cursor: pointer;
}