.container {
	display: flex;
	flex-direction: row;
	background-color: var(--tecnm-dark-blue);
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.containerLogo {
	margin: 2rem auto 2rem 2rem ;
	justify-content: center;
	align-items: center;
}

.mobileMenuButton {
	display: none;
	background-color: transparent;
	cursor: pointer;
	color : white;
	margin: 1rem;
	height: 2.5rem;
	width: 2.5rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.options {
	display: flex;
	width: 100%;
	text-align: right;
	justify-content: space-between;
}

.linksContainer {
	display: flex;
	width: 100%;
	text-align: right;
	justify-content: flex-end;
	margin: 1rem;
}

.button {
	display: flex;
	font-size: 1.5rem;
	min-width: 8%;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	color: white;
	text-decoration: none;
}

.button:hover, .button:active {
	background-color: #305eaa;
	cursor: pointer;
}

@media screen and (max-width: 768px) { /* Cambiar estilos para pantallas pequeñas */
	.container {
        flex-direction: column; /* Cambia la dirección de flexión a columna en dispositivos móviles */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }
    
    .mobileMenuButton {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }

	.linksContainer {
		display: flex;
		flex-direction: column;
		align-items: end;
	}
}