.card-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	border-radius: 1%;
	max-height: 45rem;
}

.card-title {
	font-size: 2rem;
	text-align: center;
}


.card-image-title {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 25rem;
	border-top-left-radius: 1%;
	border-top-right-radius: 1%;
}

.card-image-title-content {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-top-left-radius: 1%;
	border-top-right-radius: 1%;
}

.card-content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	color: white;
	background-color: var(--tecnm-dark-blue);
	border-bottom-left-radius: 1%;
	border-bottom-right-radius: 1%;
	gap: 0.5rem;
}


.card-info-container {
	display: flex;
	font-size: 1.2rem;
}

.card-info-container a{
	color: white;
	
}

.card-icon {
	margin-right: 0.5rem;
}

.card-description-container {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.card-description-title {
	font-size: 1.6rem;
}

.card-description {
	font-size: 1.3rem;
	text-justify: inter-word;
}


@media (min-width: 810px) {
	.card-container {
		width: 30%;
	}
}