.container {
	display: flex;
	flex-direction: row;
	background-color: var(--darkBlue);
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.containerLogo {
	margin: 2rem auto 2rem 2rem ;
	justify-content: center;
	align-items: center;
}

.mobileMenuButton {
	display: none;
	background-color: transparent;
	cursor: pointer;
	color : white;
	margin: 1rem;
	height: 2.5rem;
	width: 2.5rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.options {
	display: flex;
	width: 100%;
	text-align: right;
	justify-content: space-between;
}

.linksContainer {
	display: flex;
	width: 100%;
	text-align: right;
	justify-content: flex-end;
	margin: 1rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.button p {
	text-align: center;
	height: fit-content;
	width: fit-content;
	text-decoration: none;
}

.button:hover, .button:active {
	background-color: #305eaa;
	border-radius: 0.5rem;
	cursor: pointer;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .mobileMenuButton {
        display: block;
    }

	.linksContainer {
		display: none;
		flex-direction: column;
		border: solid;
		border-radius: 0.5rem;
		border-color: var(--tecnm-dark-blue);
		background-color: var(--tecnm-dark-blue);
		margin-bottom: 1.5rem;
	}
}