.gallery-container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header {
    display: flex;
    flex-direction: column;
}

.img {
    justify-content: center;
    text-align: center;
    margin: 1rem;
}
