* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.img-container {
    overflow: auto;
    white-space: nowrap;
    margin: 2rem;
}

.img-container img {
    padding: 1.5rem;
    height: 30rem;
    width: auto;
}

.header {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .img-container {
        overflow: auto;
        overflow-y: scroll;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        height: 15rem;
        margin: 2rem;
    }
    
    .img-container img {
        padding: 1.5rem;
        height: auto;
        width: auto;
    }
}