.combobox-container {
    margin: 1rem; /* 20 * 0.25rem = 5rem */
}

.combobox-input {
   position: relative;
   border-radius: 0.7rem;
}

.input {
    width: 100%;
    border-radius: 0.7rem; /* rounded-lg -> 8px -> 0.5rem */
    border: none;
    background-color: var(--darkBlue);
    padding: 1rem;
    font-size: 1.5rem; /* text-sm -> 14px -> 0.875rem */
    color: white /* text-white */
}

.button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

.icon-down {
    height: 2rem;
    padding: auto;
    fill: var(--darkBlue)
}

.button:hover .icon-down {
    fill: rgba(255, 255, 255, 1); /* group-data-[hover]:fill-white */
}

.options {
    width: var(--input-width);
    border-radius: 0.75rem; /* rounded-xl -> 12px -> 0.75rem */
    border: 1px solid rgba(88, 8, 8, 0.05); /* border-white/5 */
    background-color: rgba(255, 255, 255, 0.05); /* bg-white/5 */
    padding: 1rem; /* p-1 -> 1 * 0.25rem = 0.25rem */
    --anchor-gap: var(--spacing-1);
}

.item {
    display: flex;
    cursor: default; /* cursor-default */
    align-items: center; /* items-center */
    gap: 0.5rem; /* gap-2 -> 2 * 0.25rem = 0.5rem */
    border-radius: 0.5rem; /* rounded-lg -> 8px -> 0.5rem */
    padding: 1rem;
    user-select: none; /* select-none */
}

.item[data-focus] {
    background-color: rgba(221, 223, 255, 0.296); /* data-[focus]:bg-white/10 */
}

.icon-check {
    visibility: hidden; /* invisible */
    color: var(--darkBlue);
    height: 5rem;
}

.item[data-selected] .icon-check {
    visibility: visible;
}

.name-item {
    font-size: 1.4rem; /* text-sm -> 14px -> 0.875rem */
}